.App {
  padding: 40px 0px;
  background-color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h3 {
  color: red;
  font-size: 40px;
  padding: 10px;
  transition: 0.4s all ease;
}

.header > img {
  width: 40px;
  transition: 0.4s all ease;
}

.container {
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;
  padding: 5px 5%;
  align-items: flex-start;
  transition: 0.4s all ease;
}

@media only screen and (max-width: 991px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
    padding: 10px 5%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .header > h3 {
    color: red;
    font-size: 30px;
    padding: 10px;
  }

  .header > img {
    width: 30px;
  }
}
